{% extends 'base_generic.html' %}
{% load static %}{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Mensajes</h1>

        <div class="row">
            <div class="col-md-4">
                <h3>Usuarios:</h3>
                <ul class="list-group">
                    {% for user in users %}
                        <li class="list-group-item">
                            <a href="{% url 'messages' %}?chat_user={{ user.id }}">{{ user.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-8">
                {% if chat_user %}
                    <h3>Chat con {{ chat_user.username }}</h3>
                    <div class="card mb-4">
                        <div class="card-body">
                            {% for message in messages %}
                                <p>
                                    <strong>{{ message.sender.username }}:</strong> {{ message.content }}
                                </p>
                            {% empty %}
                                <p>No hay mensajes.</p>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <form method="POST" action="" class="mb-4">
                        {% csrf_token %}
                        {{ form.receiver.as_hidden }}
                        <div class="input-group">
                            {{ form.content|add_class:'form-control' }}
                            <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                        </div>
                    </form>
                {% else %}
                    <p>Selecciona un usuario para comenzar una conversación.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

                       



